<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Getting Started with Sentiment Analysis</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <script>
            function submitform(){

                action_url = "visualize_sentiment"

                json_review = JSON.stringify({ "review": document.getElementById("json_config").value })

                console.log("Sending Json");
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                       document.getElementById('response_text').innerHTML = xhr.responseText
                    }
                }
                xhr.open(input_form.method, action_url, true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                xhr.send(json_review);
            }

            function copyToClipboard(elem) {
                  // create hidden text element, if it doesn't already exist
                var targetId = "_hiddenCopyText_";
                var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
                var origSelectionStart, origSelectionEnd;
                if (isInput) {
                    // can just use the original source element for the selection and copy
                    target = elem;
                    origSelectionStart = elem.selectionStart;
                    origSelectionEnd = elem.selectionEnd;
                } else {
                    // must use a temporary form element for the selection and copy
                    target = document.getElementById(targetId);
                    if (!target) {
                        var target = document.createElement("textarea");
                        target.style.position = "absolute";
                        target.style.left = "-9999px";
                        target.style.top = "0";
                        target.id = targetId;
                        document.body.appendChild(target);
                    }
                    target.textContent = elem.textContent;
                }
                // select the content
                var currentFocus = document.activeElement;
                target.focus();
                target.setSelectionRange(0, target.value.length);

                // copy the selection
                var succeed;
                try {
                      succeed = document.execCommand("copy");
                } catch(e) {
                    succeed = false;
                }
                // restore original focus
                if (currentFocus && typeof currentFocus.focus === "function") {
                    currentFocus.focus();
                }

                if (isInput) {
                    // restore prior selection
                    elem.setSelectionRange(origSelectionStart, origSelectionEnd);
                } else {
                    // clear temporary content
                    target.textContent = "";
                }
                return succeed;
            }

        </script>

        <form class="form-container" action="http://peerlogic.csc.ncsu.edu/rainbowgraph/configure" method="POST" name="input_form">
            <div><h2 class="form-title">Sentiment Analysis</h2></div>
            <div class="form-title">This page is intended for instructors, <a href="developer">klick here if you are a developer</a></div>
            <p>
            This sentiment analysis service is implemented with VADER (Valence Aware Dictionary and sEntiment Reasoner).
            It is a lexicon and rule-based sentiment analysis tool that is specifically attuned to sentiments expressed in social media, and is also generally applicable to sentiment analysis in other domains.
            More information about the algorithm, <a href="https://pypi.python.org/pypi/vaderSentiment">please see this link</a>
            </p>
            <div class="form-title">Enter review comments to analyze</div>
            <p>
                <textarea rows="20" cols="160"  name="json config" id="json_config" class="form-field">
These gloves are a good fit for my hand and seem to be decent quality. However, they are not comfortable. There are three seams that converge between the index finger and thumb which creates a very annoying point in the glove. On my first ride I thought I had something caught inside my glove, but when I stopped to check it out, it was just the way the glove was constructed. The left glove is more annoying than the right, but it is there is both gloves. After a 20 mile ride, both hands had sores because of this. Unfortunately there is no way to fix or smooth out this problem. The second issue is that the gel padding is slightly out of place (for my hands anyway) so there is no benefit. I'll be returning these and looking for a new pair of gloves.
                </textarea>
            </p>
            <p><button type="button"  class="submit-button" onclick="submitform()">Go analyze my review!</button></p>
        </form>
        &nbsp;
        <div class="form-container" >
            <h2 class="form-title">Sentiment Analysis Result</h2>
            <div id="response_text"></div>
        </div>
        &nbsp;
        <div class="footer">
            © PeerLogic. All rights reserved.
            <br/>
            For support or new feature request, please contact:
            Dr. Ferry Pramudianto | Senior Research Engineer | 919 513-0816 | fferry (at) ncsu.edu
            Computer Science Department | North Carolina State University
        </div>
    </body>
</html>
